<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chats..</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Enter your name" required>
        <br><br>
        <textarea name="msg" id="" cols="30" rows="3" placeholder="Enter your message"></textarea>
        <br><br>
        <input type="tex" name="to" placeholder="Enter reciever name" required>
        <br><br>
        <button>Submit</button>
    </form>
</body>

</html>